btop
dconf
environment.d
epiphany
evolution
fastfetch
fcitx*
gh
gnome*
goa*
gtk*
home-manager
htop
ibus
mimeapps.list
mozc
nautilus
pulse
systemd
user-dirs.dirs
user-dirs.locale
zsh-abbr
.gsd-keyboard.settings-ported
